In [10]:
import pandas as pd
import numpy as np

In [16]:
# create inconsistent data in dictionary values format with dates, country name, person name, sales 2020 and sales 2021


data = {
    'date': ['2020-01-01', '2020/01/01', '01-01-2020', '2020-01-01', '2020-01-01'],
    'country': ['USA', 'U.S.A.', 'United Sates', 'America', 'US'],
    'person': ['Peter', 'Peteer', 'Pter', 'Peterr', 'ptr'],
    'sales_2020': [100, 200, 300, None , 500],
    'sales_2021': [200, 400, None , 800, 1000]    
}

In [17]:
df = pd.DataFrame(data)

In [18]:
df

         date       country  person  sales_2020  sales_2021
0  2020-01-01           USA   Peter       100.0       200.0
1  2020/01/01        U.S.A.  Peteer       200.0       400.0
2  01-01-2020  United Sates    Pter       300.0         NaN
3  2020-01-01       America  Peterr         NaN       800.0
4  2020-01-01            US     ptr       500.0      1000.0

In [19]:
# standarizing the date format

df['date'] = pd.to_datetime(df['date'], errors='coerce')
df['date'] = df['date'].dt.strftime('%Y-%m-%d')

In [20]:
df

        date       country  person  sales_2020  sales_2021
0 2020-01-01           USA   Peter       100.0       200.0
1        NaT        U.S.A.  Peteer       200.0       400.0
2        NaT  United Sates    Pter       300.0         NaN
3 2020-01-01       America  Peterr         NaN       800.0
4 2020-01-01            US     ptr       500.0      1000.0

In [24]:
# harmonize the name of the countries using country mapping

country_mapping = {'USA':'United States', 'U.S.A.':'United States', 'America':'United States', 'US':'United States'}

df['country'] = df['country'].replace(country_mapping)

In [25]:
df

        date        country  person  sales_2020  sales_2021
0 2020-01-01  United States   Peter       100.0       200.0
1        NaT  United States  Peteer       200.0       400.0
2        NaT   United Sates    Pter       300.0         NaN
3 2020-01-01  United States  Peterr         NaN       800.0
4 2020-01-01  United States     ptr       500.0      1000.0

In [ ]:
# get all parameters of pd.merge

pd.merge(df, df, on='country')